<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">
    </p>
</section>

<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>

    <p>There are no recent comments</p>
</section>

{# Below we have the project version showing. Tray to keep at the bottom #}
<section class="section">
    <header>
        <h3>Software Version:</h3>
    </header>
    <p>
        {% trans %}footer.copy{% endtrans %} <font size="-1">v{{ shivas_app_version }}</font>
    </p>
</section>
