{% extends 'layout.html.twig' %}

{% block body %}

    {% for post in blog %}
        <section class="blog">
            <div class="date">
                <time datetime="{{ post.created|date('c') }}">{{ post.created|date('l, F j, Y') }}</time>
            </div>
            <img src="{{ asset(['images/blog/', post.image]|join) }}" alt="{{ post.title }} image not found" class="large"/>
            <h2>
                <a href="/blog/{{ post.id }}">{{ post.title }}</a>
            </h2>
        </section>

    {% endfor %}

{% endblock %}


